<p>Chào {{name}}!</p>
<p>Bạn đã được đăng ký thành công là nhà xe của hệ thống chúng tôi</p>
<p>Dưới đây là mật khẩu ban đầu của bạn</p>
<span>{{password}}</span>
<p>Và đây là hệ thống của chúng tôi</p>
<a href={{link}}>{{link}}</a>